// Blue
$dark-blue: #004763;
$dark-blue-2: #0c89bb;
$main-blue: #00a0df;
$light-blue: #079ad5;
$main-light-blue: #079ad5;
$light-blue-2: #cbf3ff;
$light-blue-3: #f9fdff;

// Gray
$black: #202020;
$dark-black: #353f4f;
$dark-black-1: #202020;
$dark-black-2: #434343;
$dark-gray-1: #2c2c2c;
$dark-gray-2: #3e3e3e;
$gray-1: #5a6268;
$gray-2: #6c757d;
$gray-3: #8c8c8c;
$gray-4: #acacab;
$gray-5: #b3b4b6;
$light-gray: #c3c6ca;
$light-gray-2: #e6e9ee;
$light-gray-3: #e7ecee;
$light-gray-4: #e6e6e6;
$light-gray-5: #d2d2d2;
$light-gray-6: #f7f9fb;
$white-gray: #fbfcfd;

// Red
$red: #ee1d23;

// Green
$green-1: #38c172;
$green-2: #2fa360;

// yellow
$yellow-1: #ffeb3b;
