// Root
$font-family-brutaltype: 'BrutalType', 'Arial', sans-serif;
$font-family-prodisplay: 'SFProDisplay', 'Arial', sans-serif;
$font-size-root: 16px;
$text-field-details-min-height: 0;

// Borders
$border-radius-root: 6px;

// Colors
$body-color: #ffffff;
$border-blue: #00a0df;
