@font-face {
  font-family: 'kis-mrt-icon-font';
  src:  url('fonts/kis-mrt-icon-font.eot?7ve4u6');
  src:  url('fonts/kis-mrt-icon-font.eot?7ve4u6#iefix') format('embedded-opentype'),
    url('fonts/kis-mrt-icon-font.ttf?7ve4u6') format('truetype'),
    url('fonts/kis-mrt-icon-font.woff?7ve4u6') format('woff'),
    url('fonts/kis-mrt-icon-font.svg?7ve4u6#kis-mrt-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kis-"], [class*=" kis-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kis-mrt-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kis-windows:before {
  content: "\e900";
}
.kis-user-circle:before {
  content: "\e901";
}
.kis-user:before {
  content: "\e902";
}
.kis-tower-signal:before {
  content: "\e903";
}
.kis-tower:before {
  content: "\e904";
}
.kis-text-file:before {
  content: "\e905";
}
.kis-stack-sheets:before {
  content: "\e906";
}
.kis-send-arrow-up:before {
  content: "\e907";
}
.kis-route:before {
  content: "\e908";
}
.kis-question:before {
  content: "\e909";
}
.kis-paper-snake:before {
  content: "\e90a";
}
.kis-open-in-new-tab:before {
  content: "\e90b";
}
.kis-mileage:before {
  content: "\e90c";
}
.kis-message:before {
  content: "\e90d";
}
.kis-loock:before {
  content: "\e90e";
}
.kis-lattice:before {
  content: "\e90f";
}
.kis-headphones:before {
  content: "\e910";
}
.kis-geolocation:before {
  content: "\e911";
}
.kis-gear-outline:before {
  content: "\e912";
}
.kis-format-list-text:before {
  content: "\e913";
}
.kis-format-list-bulleted:before {
  content: "\e914";
}
.kis-floppy:before {
  content: "\e915";
}
.kis-flag:before {
  content: "\e916";
}
.kis-file-ok:before {
  content: "\e917";
}
.kis-file-alert:before {
  content: "\e918";
}
.kis-drawing-pin:before {
  content: "\e919";
}
.kis-document-edit:before {
  content: "\e91a";
}
.kis-document-bookmark:before {
  content: "\e91b";
}
.kis-danger:before {
  content: "\e91c";
}
.kis-close-circle-outline:before {
  content: "\e91d";
}
.kis-circle-warning:before {
  content: "\e91e";
}
.kis-circle-time-arrow:before {
  content: "\e91f";
}
.kis-circle-time:before {
  content: "\e920";
}
.kis-circle-stop:before {
  content: "\e921";
}
.kis-circle-search:before {
  content: "\e922";
}
.kis-circle-plus:before {
  content: "\e923";
}
.kis-circle-ok:before {
  content: "\e924";
}
.kis-circle-minus:before {
  content: "\e925";
}
.kis-circle-close:before {
  content: "\e926";
}
.kis-camera-service:before {
  content: "\e927";
}
.kis-camera-overview:before {
  content: "\e928";
}
.kis-camera-fill:before {
  content: "\e929";
}
.kis-camera-black:before {
  content: "\e92a";
}
.kis-camera:before {
  content: "\e92b";
}
.kis-calendar:before {
  content: "\e92c";
}
.kis-buy:before {
  content: "\e92d";
}
.kis-bulhorn:before {
  content: "\e92e";
}
.kis-book-open:before {
  content: "\e92f";
}
.kis-arrow-up-right:before {
  content: "\e930";
}
.kis-arrow-up-left:before {
  content: "\e931";
}
.kis-arrow-up:before {
  content: "\e932";
}
.kis-arrow-right:before {
  content: "\e933";
}
.kis-arrow-left:before {
  content: "\e934";
}
.kis-arrow-down-right:before {
  content: "\e935";
}
.kis-arrow-down-left:before {
  content: "\e936";
}
.kis-arrow-down:before {
  content: "\e937";
}
.kis-anchor-closed:before {
  content: "\e938";
}
.kis-anchor:before {
  content: "\e939";
}
.kis-alarm-clock:before {
  content: "\e93a";
}
