$icomoon-font-family: "kis-mrt-icon-font" !default;
$icomoon-font-path: "fonts" !default;

$kis-windows: "\e900";
$kis-user-circle: "\e901";
$kis-user: "\e902";
$kis-tower-signal: "\e903";
$kis-tower: "\e904";
$kis-text-file: "\e905";
$kis-stack-sheets: "\e906";
$kis-send-arrow-up: "\e907";
$kis-route: "\e908";
$kis-question: "\e909";
$kis-paper-snake: "\e90a";
$kis-open-in-new-tab: "\e90b";
$kis-mileage: "\e90c";
$kis-message: "\e90d";
$kis-loock: "\e90e";
$kis-lattice: "\e90f";
$kis-headphones: "\e910";
$kis-geolocation: "\e911";
$kis-gear-outline: "\e912";
$kis-format-list-text: "\e913";
$kis-format-list-bulleted: "\e914";
$kis-floppy: "\e915";
$kis-flag: "\e916";
$kis-file-ok: "\e917";
$kis-file-alert: "\e918";
$kis-drawing-pin: "\e919";
$kis-document-edit: "\e91a";
$kis-document-bookmark: "\e91b";
$kis-danger: "\e91c";
$kis-close-circle-outline: "\e91d";
$kis-circle-warning: "\e91e";
$kis-circle-time-arrow: "\e91f";
$kis-circle-time: "\e920";
$kis-circle-stop: "\e921";
$kis-circle-search: "\e922";
$kis-circle-plus: "\e923";
$kis-circle-ok: "\e924";
$kis-circle-minus: "\e925";
$kis-circle-close: "\e926";
$kis-camera-service: "\e927";
$kis-camera-overview: "\e928";
$kis-camera-fill: "\e929";
$kis-camera-black: "\e92a";
$kis-camera: "\e92b";
$kis-calendar: "\e92c";
$kis-buy: "\e92d";
$kis-bulhorn: "\e92e";
$kis-book-open: "\e92f";
$kis-arrow-up-right: "\e930";
$kis-arrow-up-left: "\e931";
$kis-arrow-up: "\e932";
$kis-arrow-right: "\e933";
$kis-arrow-left: "\e934";
$kis-arrow-down-right: "\e935";
$kis-arrow-down-left: "\e936";
$kis-arrow-down: "\e937";
$kis-anchor-closed: "\e938";
$kis-anchor: "\e939";
$kis-alarm-clock: "\e93a";

