body #app {
  .dark-blue {
    background: $dark-blue;
  }

  .light-blue {
    background: $light-blue;
  }

  .light-gray {
    background: $light-gray;
  }

  .white-gray {
    background: $white-gray;
  }
}
