$info-bg-notify: #44a4fc;
$info-border-notify: #187fe7;
$warn-bg-notify: #ffb648;
$warn-border-notify: #f48a06;
$error-bg-notify: #e54d42;
$error-border-notify: #b82e24;
$success-bg-notify: #68cd86;
$success-border-notify: #42a85f;